.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .logo {
    background: #EC0000 !important;
    padding-bottom: 0.2em;
  }
  
  .sidenav .mat-toolbar {
    background: #EC0000 !important;
  }