.dashboard-card {
  top: 20px;
  bottom: 15px;
}

.mat-card-header {
  background-color: #EC0000;
  color: white;
  padding: 15px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.mat-card {
  padding: 0;
}

.mat-header-cell {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.loading-shade {
  position: inherit;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrolling-table {
  max-height: 463px;
  overflow: auto;
}

.mat-progress-spinner {
  margin: 10px;
}

.FAILED, .KO {
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin-right: 12px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #ec0000;
  color: #fff;
}

.WARNING {
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin-right: 12px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #ffd740;
  color: #000;
}

.RUNNING, .PENDING {
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin-right: 12px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #5c6bc0;
  color: #fff;
}

.OK, .DONE {
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin-right: 12px;
  border-radius: 5px;
  font-size: 13px;
  background-color: #9ccc65;
  color: #000;
}
