<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="end">
  <button (click)="openExecuteDialog()" mat-raised-button color="primary" fxFlex="max-content" fxFlex.lt-md="50" fxFlex.lt-sm="100" fxFlexFill>
    {{ 'etl.home.new-etl' | translate }}
  </button>
</div>
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{ 'etl.home.history.label' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoadingResults">
        <caption></caption>
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index;">
          <mat-header-cell *matHeaderCellDef> {{ viewColumns[i] | translate | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div [ngSwitch]="true">
              <div *ngSwitchCase="column === 'estado'">
                <span class="{{ element[column] }}">{{ element[column] }}</span>
              </div>
              <div *ngSwitchCase="column === 'fechaIni' || column === 'fechaFin'">
                {{ element[column] | date: 'yyyy/MM/dd HH:mm:ss' }}
              </div>
              <div *ngSwitchDefault>
                {{ element[column] }}
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="resultsLength" [pageSize]="8"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
